Import pandas package for data processing

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/zillow_data_0425.csv')

In [4]:
df.to_parquet('data/zillow_data_0425.parquet')

In [6]:
df.head()

  indicator_id  region_id        date     value
0         ZATT       3101  1998-01-31  338849.0
1         ZATT       3101  1998-02-28  342993.0
2         ZATT       3101  1998-03-31  346763.0
3         ZATT       3101  1998-04-30  349356.0
4         ZATT       3101  1998-05-31  351981.0

In [7]:
regions = pd.read_csv('data/zillow_regions_0425.csv')

In [8]:
regions.head()

   region_id region_type                                             region
0      96208         zip  90706;CA;Los Angeles-Long Beach-Anaheim, CA;Be...
1     394415       metro                                     Bridgeport, CT
2     394653       metro                                     Greenville, SC
3     394312       metro                                    Albuquerque, NM
4     394357       metro                                    Bakersfield, CA

In [9]:
indicators=pd.read_csv('data/zillow_indicators_0425.csv')

In [10]:
indicators.head()

,indicator_id,indicator,category
0,SAAW,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
1,SRAM,"Median Sale Price (Raw, All Homes, Monthly)",Inventory and sales
2,NSAM,"Median Days to Pending (Smooth, All Homes, Mon...",Inventory and sales
3,RSNA,ZORI (Smoothed): All Homes Plus Multifamily Ti...,Rentals
4,RSSA,"ZORI (Smoothed, Seasonally Adjusted): All Home...",Rentals

In [12]:
regions

,region_id,region_type,region
0,96208,zip,"90706;CA;Los Angeles-Long Beach-Anaheim, CA;Be..."
1,394415,metro,"Bridgeport, CT"
2,394653,metro,"Greenville, SC"
3,394312,metro,"Albuquerque, NM"
4,394357,metro,"Bakersfield, CA"
...,...,...,...
89300,59107,zip,"3293;NH;Lebanon, NH-VT;Woodstock;Grafton County"
89301,94027,zip,"83025;WY;Jackson, WY-ID;Wilson;Teton County"
89302,58463,zip,"1718;MA;Boston-Cambridge-Newton, MA-NH;Acton;M..."
89303,75653,zip,40363;KY;nan;nan;Owen County
89304,83566,zip,58249;ND;nan;Langdon;Cavalier County